<div class="form-group"><label for="來源" class="col-form-label">來源:</label><input class="form-control" id="add_來源" placeholder=""/></div>

<div class="form-group"><label for="醫師／開立者" class="col-form-label">醫師／開立者:</label><input class="form-control" id="add_醫師／開立者" placeholder=""/></div>

<div class="form-group"><label for="時段" class="col-form-label">時段:</label><input class="form-control" id="add_時段" placeholder=""/></div>

<div class="form-group"><label for="科別" class="col-form-label">科別:</label><input class="form-control" id="add_科別" placeholder="" /></div>

<div class="form-group"><label for="診間" class="col-form-label">診間:</label><input class="form-control" id="add_診間" placeholder=""/></div>

<div class="form-group"><label for="就診號" class="col-form-label">就診號:</label><input class="form-control" id="add_就診號" placeholder=""/></div>

<div class="form-group"><label for="身份證" class="col-form-label">身份證:</label><input class="form-control" id="add_身份證" placeholder=""/></div>

<div class="form-group"><label for="索引號_x" class="col-form-label">索引號_x:</label><input class="form-control" id="add_索引號_x" placeholder=""/></div>

<div class="form-group"><label for="姓名" class="col-form-label">姓名:</label><input class="form-control" id="add_姓名" placeholder=""/></div>

<div class="form-group"><label for="GUID" class="col-form-label">GUID:</label><input class="form-control" id="add_GUID" placeholder=""/></div>

<div class="form-group"><label for="拒絕註記" class="col-form-label">拒絕註記:</label><input class="form-control" id="add_拒絕註記" placeholder=""/></div>

<div class="form-group"><label for="DNA管號" class="col-form-label">DNA管號:</label><input class="form-control" id="add_DNA管號" placeholder=""/></div>

<div class="form-group"><label for="檢體編號_x" class="col-form-label">檢體編號_x:</label><input class="form-control" id="add_檢體編號_x" placeholder=""/></div>

<div class="form-group"><label for="樣本代碼" class="col-form-label">樣本代碼:</label><input class="form-control" id="add_樣本代碼" placeholder="" /></div>