<div class="modal-header">
   <h5 class="modal-title">Edit</h5>
</div>
<div class="modal-body">
   <div class="form-group"><label for="來源" class="col-form-label">來源:</label><input class="form-control" id="來源" name="來源" placeholder="來源" readonly /></div>
   <div class="form-group"><label for="開立日" class="col-form-label">開立日:</label><input class="form-control" id="開立日" name="開立日" placeholder="開立日" readonly /></div>
   <div class="form-group"><label for="醫師／開立者" class="col-form-label">醫師／開立者:</label><input class="form-control" id="醫師／開立者" name="醫師／開立者" placeholder="醫師／開立者" readonly /></div>
   <div class="form-group"><label for="時段" class="col-form-label">時段:</label><input class="form-control" id="時段" name="時段" placeholder="時段" readonly /></div>
   <div class="form-group"><label for="科別" class="col-form-label">科別:</label><input class="form-control" id="科別" name="科別" placeholder="科別" readonly /></div>
   <div class="form-group"><label for="診間" class="col-form-label">診間:</label><input class="form-control" id="診間" name="診間" placeholder="診間" readonly /></div>
   <div class="form-group"><label for="就診號" class="col-form-label">就診號:</label><input class="form-control" id="就診號" name="就診號" placeholder="就診號" readonly /></div>
   <div class="form-group"><label for="身份證" class="col-form-label">身份證:</label><input class="form-control" id="身份證" name="身份證" placeholder="身份證" readonly /></div>
   <div class="form-group"><label for="索引號_x" class="col-form-label">索引號_x:</label><input class="form-control" id="索引號_x" name="索引號_x" placeholder="索引號_x" readonly /></div>
   <div class="form-group"><label for="姓名" class="col-form-label">姓名:</label><input class="form-control" id="姓名" name="姓名" placeholder="姓名" readonly /></div>
   <div class="form-group"><label for="GUID" class="col-form-label">GUID:</label><input class="form-control" id="GUID" name="GUID" placeholder="GUID" readonly /></div>
   <div class="form-group"><label for="上傳" class="col-form-label">上傳:</label><input class="form-control" id="上傳" name="上傳" placeholder="上傳" readonly /></div>
   <div class="form-group"><label for="上傳時間" class="col-form-label">上傳時間:</label><input class="form-control" id="上傳時間" name="上傳時間" placeholder="上傳時間" readonly /></div>
   <div class="form-group"><label for="拒絕註記" class="col-form-label">拒絕註記:</label><input class="form-control" id="拒絕註記" name="拒絕註記" placeholder="拒絕註記" readonly /></div>
   <div class="form-group"><label for="工作號_合併" class="col-form-label">工作號_合併:</label><input class="form-control" id="工作號_合併" name="工作號_合併" placeholder="工作號_合併" readonly /></div>
   <div class="form-group"><label for="DNA管號" class="col-form-label">DNA管號:</label><input class="form-control" id="DNA管號" name="DNA管號" placeholder="DNA管號"  /></div>
   <div class="form-group"><label for="檢體編號_x" class="col-form-label">檢體編號_x:</label><input class="form-control" id="檢體編號_x" name="檢體編號_x" placeholder="檢體編號_x"  /></div>
   <div class="form-group"><label for="樣本代碼" class="col-form-label">樣本代碼:</label><input class="form-control" id="樣本代碼" name="樣本代碼" placeholder="樣本代碼"  /></div>
   <div class="form-group"><label for="ID" class="col-form-label">ID:</label><input class="form-control" id="ID" name="ID" placeholder="ID"  /></div>
</div>
<div class="modal-footer">
   <button type="submit" class="btn btn-primary">Save</button>
   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>