{ data: "來源", title: "來源"},
{ data: "開立日", title: "開立日"},
{ data: "開立者", title: "開立者"},
{ data: "科別", title: "科別"},
{ data: "就診號", title: "就診號"},
{ data: "身份證", title: "身份證"},
{ data: "索引號", title: "索引號"},
{ data: "姓名", title: "姓名"},
{ data: "GUID", title: "GUID"},
{ data: "拒絕註記", title: "拒絕註記"},
{ data: "工作號", title: "工作號"},
{ data: "工作號_new", title: "工作號_new"},
{ data: "DNA管號", title: "DNA管號"},
{ data: "檢體編號_x", title: "檢體編號_x"},
{ data: "樣本代碼", title: "樣本代碼"},
{ data: "all_comment", title: "all_comment"},

